Repository effector/effector, pull requests merged in 2025-07, with the labels that each got.

#1059 [babel-plugin] Add an option to disable transforming `Domain` methods
  documentation/src/content/docs/en/api/effector/babel-plugin.md
  src/babel/__tests__/__snapshots__/babel-plugin.test.js.snap
  src/babel/__tests__/fixtures/create-domain-no-legacy-methods.js
  src/babel/__tests__/fixtures/create-domain-no-legacy-methods.options.json
  src/babel/babel-plugin.js
Labels: enhancement, effector/babel-plugin

#1253 Improve split type errors
  packages/effector/index.d.ts
  src/types/__tests__/effector/split.test.ts
Labels: typings

#1262 Add skipVoid to type of domain.createStore
  packages/effector/index.d.ts
Labels: typings

#1283 [docs] Update SWC Plugin documentation for `v0.8.0` release
  documentation/src/content/docs/en/api/effector/swc-plugin.md
  documentation/src/content/docs/ru/api/effector/swc-plugin.md
Labels: documentation
