Repository effector/effector, pull requests merged in 2025-03, with the labels that each got.

#1235 HMR support
  .github/workflows/domTests.yml
  .github/workflows/npmpublish.yml
  .github/workflows/release-candidate.yml
  .github/workflows/tests.yml
  documentation/src/content/docs/en/api/effector/babel-plugin.md
  documentation/src/content/docs/ru/api/effector/babel-plugin.md
  package.json
  pnpm-lock.yaml
  src/babel/__tests__/__snapshots__/hmr.test.js.snap
  src/babel/__tests__/babel-plugin.test.js
  src/babel/__tests__/fixtures/hmr/1.js
  src/babel/__tests__/fixtures/hmr/10.js
  src/babel/__tests__/fixtures/hmr/2.js
  src/babel/__tests__/fixtures/hmr/3.js
  src/babel/__tests__/fixtures/hmr/4.js
  src/babel/__tests__/fixtures/hmr/5.1.js
  src/babel/__tests__/fixtures/hmr/5.js
  src/babel/__tests__/fixtures/hmr/6.js
  src/babel/__tests__/fixtures/hmr/7.js
  src/babel/__tests__/fixtures/hmr/8.js
  src/babel/__tests__/fixtures/hmr/9.1.js
  src/babel/__tests__/fixtures/hmr/9.js
  src/babel/__tests__/hmr.test.js
  src/babel/__tests__/utils.js
  src/babel/babel-plugin.js
  src/babel/hmr.js
  yarn.lock
Labels: enhancement, documentation, effector/babel-plugin

#1238 [docs] Update SWC plugin documentation
  documentation/src/content/docs/en/api/effector/swc-plugin.md
Labels: documentation

#1002 [v23] Add option `forceScope` for babel-plugin
  src/babel/__tests__/__snapshots__/babel-plugin.test.js.snap
  src/babel/__tests__/fixtures/forceScope-shouldAdd.js
  src/babel/__tests__/fixtures/forceScope-shouldAdd.options.json
  src/babel/__tests__/fixtures/forceScope-shouldConvertAndAdd.js
  src/babel/__tests__/fixtures/forceScope-shouldConvertAndAdd.options.json
  src/babel/__tests__/fixtures/forceScope-shouldNotAdd.js
  src/babel/__tests__/fixtures/forceScope-shouldNotAdd.options.json
  src/babel/babel-plugin.js
Labels: enhancement

#1249 Fix windows support in type tests
  src/types/src/globalSetup.ts
  src/types/src/runner/manifold/generateFile.ts
  src/types/src/tsRunner.ts
Labels: infra
